body {
    background: #fcfcfc !important;
    font-family: "Roboto", sans-serif !important;
}

.container-beranda {
    padding: 0px !important;
}

.box-beranda {
    background-image: url("/img/beranda-box.png");
    margin: 0px !important;
}

.row-box-beranda {
    margin-left: 6.5% !important;
    margin-right: 6.5% !important;
}

.card-box-beranda {
    border: 0px !important;
    background-color: #fcfcfc !important;
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.card-img-top-beranda {
    width: 30%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

@media (max-width: 992px) {
    .card-img-top-beranda {
        width: 20%;
    }
}

.card-body-beranda {
    padding-left: 0px;
    padding-right: 0px;
}

.card-title-beranda {
    font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    text-align: center !important;
}

.card-text-beranda {
    margin-bottom: 0px !important;
    font-size: 16px;
    text-align: justify;
}

.row-card-beranda {
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.alignleft {
    font-size: 32px;
    margin-bottom: 0px !important;
}

.alignright {
    text-align: right;
    font-weight: bold;
    color: #2f94aa;
    font-size: 18px;
    margin-bottom: 0px !important;
}

.alignright-berita {
    text-align: right;
    font-weight: bold;
    color: #2f94aa;
    font-size: 16px;
    margin-bottom: 0px !important;
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #2f94aa !important;
}

.card-home-services {
    height: 100% !important;
    width: 100% !important;
    padding: 0px !important;
    background: white !important;
}

/* Begin required CSS. */
.line-clamp {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;

    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
}

.line-clamp:after {
    content: "...";
    text-align: right;
    bottom: 0;
    right: 0;
    width: 25%;
    display: block;
    position: absolute;
    height: calc(1em * 1.2);
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1) 75%);
}

@supports (-webkit-line-clamp: 1) {
    .line-clamp:after {
        display: none !important;
    }
}

.line-clamp-1 {
    -webkit-line-clamp: 1;
    height: calc(1em * 1.2 * 1);
}

.line-clamp-2 {
    -webkit-line-clamp: 2;
    height: calc(1em * 1.2 * 2);
}

.line-clamp-3 {
    -webkit-line-clamp: 3;
    height: calc(1em * 1.2 * 3);
}

.line-clamp-4 {
    -webkit-line-clamp: 4;
    height: calc(1em * 1.2 * 4);
}

.line-clamp-5 {
    -webkit-line-clamp: 5;
    height: calc(1em * 1.2 * 5);
}

/* End required CSS. */

.block-card-services img {
    height: 250px;
}

@media (max-width: 992px) {
    .block-card-services img {
        height: 200px;
    }
}

.card-title-blog {
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    color: #2f94aa;
}

.card-text-blog {
    font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.table-name {
    color: #2f94aa !important;
}

.table-value {
    text-align: right !important;
}

.table-value-beds {
    text-align: center !important;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    width: 100%;
}

th,
td {
    padding: 1em;
    background: #ffffff;
    border-bottom: 2px solid #eaeaea;
}

.css-mine {
    margin-top: 2em;
    clear: both;
}

body {
    margin: 1.5em;
}

.card-img-top-services {
    width: 100%;
    height: 100%;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.img-square-wrapper {
    width: 25%;
}

.rounded-img {
    border-radius: 25%;
    height: 100%;
    width: 100%;
    display: block;
}

.card-body-blog {
    padding-left: 2.5%;
    max-width: 75%;
}

.img-navbar {
    width: 100%;
}

.navbar-text-brand {
    margin-bottom: 0px !important;
}

.box {
    position: relative;
    display: inline-block;
    /* Make the width of box same as image */
}

.box .text {
    position: absolute;
    z-index: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 40%;
    /* Adjust this value to move the positioned div up and down */
    font-family: Arial, sans-serif;
    color: color;
    width: 60%;
    /* Set the width of the positioned div */
}

.navbar-light {
    background-color: #ffffff;
}

.card-img-top {
    width: 100%;
    height: 100%;
    /* max-width: 400px; */
    /* height: auto; */
}

.card-img-top-doctor {
    height: 70%;
}

.card-title-doctor {
    /* font-size: 1.111vw; */
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));

    font-weight: bold;
    color: #2f94aa;
    margin-bottom: 0px !important;
}

.card-text-doctor {
    font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 0px !important;

}

/* .card-body-doctor {
    padding-top: 1rem !important;
    height: 30%;
} */

.card-doctor {
    width: 100%;
    height: 100%;
    margin: 0px !important;
}

@media only screen and (min-width: 0px) {
    .col-margin-doctor {
        padding-left: 10% !important;
        padding-right: 10% !important;
        padding-bottom: 10% !important;
    }

    .col-content-margin-doctor {
        padding-right: 10% !important;
        padding-left: 10% !important;
    }
}

@media screen and (max-width: 768px) {
    .col-services {
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 576px) {


    .col-margin-doctor {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }

    .col-content-margin-doctor {
        padding-right: 10% !important;
        padding-left: 10% !important;
    }
}

@media screen and (min-width: 768px) {


    .card-body-doctor {
        padding: 0em !important;
        padding-top: 1rem !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        height: 30%;
    }

    .col-margin-doctor {
        padding-left: 10% !important;
        padding-right: 1.75% !important;
    }

    .col-content-margin-doctor {
        padding-right: 10% !important;
        padding-left: 0% !important;
    }
}

.row-margin {
    margin-top: 2% !important;
}

.pad-left-right {
    padding-left: 0.625vw !important;
    padding-right: 0.625vw !important;
}

.services {
    background-color: #fcfcfc;
}

.card-services {
    width: 100%;
    height: 100%;
    margin: 0px !important;
    margin-left: px !important;
}

.card-body-services {
    height: 30% !important;
}

.sidebar {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    border: solid 1px #eaeaea;
    font-style: normal;
    font-weight: 500;
}

.sidebar a.active {
    color: #2f94aa;
    font-weight: 750 !important;
}

.sidebar a:hover {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 767px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.content {
    padding: 0px !important;
}

.row-card-deck {
    margin: 0px !important;
    display: block !important;
}

.row-blogs {
    margin: 0px !important;
}

.sidebar-col {
    padding: 0px !important;
}

.card-col {
    padding: 0px !important;
    padding-right: 1.75% !important;
    padding-bottom: 1.75% !important;
    height: 100%;
}

.sidebar a:first-child {
    border-radius: 10px 10px 0 0 !important;
}

.sidebar a:last-child {
    border-radius: 0 0 10px 10px !important;
}

.form-file {
    border: 0px !important;
    padding: 0px !important;
}

.img-doctors {
    width: 100%;
}

.img-blogs {
    width: 100%;
    height: 100%;
}

footer {
    background: #232323 !important;
    padding-top: 7.5%;
}

footer .copyright {
    padding: 15px 0;
    background: #080808;
    color: #FCFCFC margin-top: 20px;
    font-size: 15px;
}

footer .copyright span {
    color: #FCFCFC;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #2F94AA;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.timeline-title {
    color: #2F94AA !important;
}

.btn-doctor {
    background-color: #ffffff;
    font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

#formWrapper {
    border: 2px solid #f5f5f5;
    padding: 20px;
}

.btn-primary-tambah {
    background-color: #2f94aa !important;
    border-color: #2f94aa !important;
    color: #ffffff !important;
}

.card-artikel {
    border: 0px solid !important;
}
